*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
   
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
}
form{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    margin-top: 20px;

}
label,input{
    display: block;
    padding: 5px;
    font-size: 20px;
    }
.input{
    width: 50vh;
    padding: 10px;
    border:none;
    border-bottom:1px solid #333 ;
    outline: none;
    font-size: 20px;
    }
select{
    border: 0;
    border-bottom: #333 1px solid;
    font-size: 18px;
    padding: 10px 0;
    outline: none;
}
.submit{
        margin: 10px 0;
        width:100%;
        font-size: 18px;
        font-weight: 600;
        background-color: blue;
        color: white;
        border-radius: 7px;
        border: none;
        cursor: pointer;
        padding: 10px 0;
    }
.submit:hover{
        padding: 10px;
        font-size: 20px;
    }
.terms{
    display: flex;
    width: 50vh;
    font-size: 18px;
    gap: 10px;
}